**/node_modules
**/dist
**/public
**/.env

design/report/*.aux
design/report/*.fdb_latexmk
design/report/*.fls
design/report/*.log
design/report/*.out
design/report/*.pdf
design/report/*.synctex.gz
design/report/*.toc
**/indent.log

.vscode/ltex.dictionary.en-US.txt
.vscode/ltex.hiddenFalsePositives.en-US.txt
