@theme inline {
	--font-jakarta: "Plus Jakarta Sans", sans-serif;

	--color-accessibility-action: var(--color-accessibility-action);
	--color-accessibility: var(--color-accessibility);
	--color-button-invert: var(--color-button-invert);
	--color-button: var(--color-button);
	--color-header-bg: var(--color-header-bg);
	--color-main-bg: var(--color-main-bg);
	--color-text-primary: var(--color-text-primary);
	--color-text-secondary: var(--color-text-secondary);
}

:root {
	--color-accessibility-action: var(--color-blue-500);
	--color-accessibility: var(--color-blue-700);
	--color-button-invert: var(--color-neutral-950);
	--color-button: var(--color-neutral-50);
	--color-header-bg: var(--color-neutral-400);
	--color-main-bg: var(--color-neutral-50);
	--color-text-primary: var(--color-neutral-950);
	--color-text-secondary: var(--color-neutral-700);
}

:root.dark {
	--color-accessibility-action: var(--color-blue-600);
	--color-accessibility: var(--color-blue-400);
	--color-button-invert: var(--color-neutral-50);
	--color-button: var(--color-neutral-950);
	--color-header-bg: var(--color-neutral-500);
	--color-main-bg: var(--color-neutral-950);
	--color-text-primary: var(--color-neutral-50);
	--color-text-secondary: var(--color-neutral-300);
}
