@theme inline {
	--color-accessibility: var(--color-accessibility);
	--color-button-invert: var(--color-button-invert);
	--color-button: var(--color-button);
	--color-header: var(--color-header);
	--color-input-br: var(--color-input-br);
	--color-input-placeholder: var(--color-input-placeholder);
	--color-input: var(--color-input);
	--color-input-valid: var(--color-input-valid);
	--color-input-invalid: var(--color-input-invalid);
	--color-main: var(--color-main);
	--color-options-active: var(--color-options-active);
	--color-quote: var(--color-quote);
	--color-text-primary: var(--color-text-primary);
	--color-text-secondary: var(--color-text-secondary);
}

:root {
	--color-accessibility: var(--color-blue-700);
	--color-button-invert: var(--color-neutral-950);
	--color-button: var(--color-neutral-50);
	--color-header: var(--color-neutral-200);
	--color-input-br: var(--color-neutral-700);
	--color-input-placeholder: var(--color-neutral-500);
	--color-input: var(--color-neutral-50);
	--color-input-valid: var(--color-blue-500);
	--color-input-invalid: var(--color-rose-500);
	--color-main: var(--color-neutral-50);
	--color-options-active: var(--color-blue-500);
	--color-quote: var(--color-violet-100);
	--color-text-primary: var(--color-neutral-950);
	--color-text-secondary: var(--color-neutral-700);
}

:root.dark {
	--color-accessibility: var(--color-blue-400);
	--color-button-invert: var(--color-neutral-50);
	--color-button: var(--color-neutral-950);
	--color-header: var(--color-neutral-600);
	--color-input-br: var(--color-neutral-200);
	--color-input: var(--color-neutral-950);
	--color-main: var(--color-neutral-950);
	--color-options-active: var(--color-blue-600);
	--color-quote: var(--color-indigo-950);
	--color-text-primary: var(--color-neutral-50);
	--color-text-secondary: var(--color-neutral-300);
}
