@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
	--color-p-light: var(--color-neutral-100);
	--color-p-dark: var(--color-neutral-950);

	--font-primary: "Montserrat", sans-serif;
}
