/* plus-jakarta-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/plus-jakarta-sans-v11-latin-regular.woff2") format("woff2");
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
	font-display: swap;
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	font-weight: 500;
	src: url("../../assets/fonts/plus-jakarta-sans-v11-latin-500.woff2") format("woff2");
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
	--font-jakarta: "Plus Jakarta Sans", sans-serif;
}
