@theme inline {
	--color-accessibility: var(--color-accessibility);
	--color-button-shadow: var(--color-button-shadow);
	--color-button-text: var(--color-button-text);
	--color-button: var(--color-button);
	--color-main: var(--color-main);
	--color-overlay-shadow: var(--color-overlay-shadow);
	--color-overlay: var(--color-overlay);
	--color-text-primary: var(--color-text-primary);
	--color-text-secondary: var(--color-text-secondary);
}

:root {
	--color-accessibility: var(--color-blue-700);
	--color-button-shadow: var(--color-neutral-600);
	--color-button-text: var(--color-neutral-50);
	--color-button: var(--color-neutral-950);
	--color-main: var(--color-neutral-50);
	--color-overlay-shadow: var(--color-neutral-950);
	--color-overlay: var(--color-neutral-200);
	--color-text-primary: var(--color-neutral-950);
	--color-text-secondary: var(--color-neutral-700);
}

:root.dark {
	--color-accessibility: var(--color-blue-400);
	--color-button-shadow: var(--color-neutral-300);
	--color-button-text: var(--color-neutral-950);
	--color-button: var(--color-neutral-50);
	--color-main: var(--color-neutral-950);
	--color-overlay-shadow: var(--color-neutral-50);
	--color-overlay: var(--color-neutral-600);
	--color-text-primary: var(--color-neutral-50);
	--color-text-secondary: var(--color-neutral-300);
}
