{
	"useTabs": true,
	"tabWidth": 8,
	"printWidth": 100,

	"semi": true,
	"endOfLine": "auto",
	"trailingComma": "all",

	"objectWrap": "collapse",
	"quoteProps": "consistent",

	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-tailwindcss"]
}
